<%- include header.ejs %>
<%- include semantic/semantic-head.ejs%>
<div class="ui segment violet">
    <h2 class="ui header">元素</h2>
    <%- include semantic/elements/button.ejs %>
    <%- include semantic/elements/divider.ejs %>
    <%- include semantic/elements/header.ejs %>
    <%- include semantic/elements/icon.ejs %>
    <%- include semantic/elements/image.ejs %>
    <%- include semantic/elements/img.ejs %>
    <%- include semantic/elements/input.ejs %>
    <%- include semantic/elements/label.ejs %>
    <%- include semantic/elements/list.ejs %>
    <%- include semantic/elements/loader.ejs %>
    <%- include semantic/elements/rail.ejs %>
    <%- include semantic/elements/segment.ejs %>
    <%- include semantic/elements/step.ejs %>
</div>
<div class="ui segment violet">
    <h2 class="ui header">Collections</h2>
    <%- include semantic/collection/breadcrumb.ejs %>
    <%- include semantic/collection/from&validation.ejs %>
    <%- include semantic/collection/grid.ejs %>
    <%- include semantic/collection/menu.ejs %>
</div>
<%- include footer.ejs %>